@page "/"
@using HMGMT.Shared.Models
@inject IJSRuntime JsRuntime;
@inject NavigationManager NavMan;
@inject HttpClient Http


<PageTitle>Dashboard</PageTitle>
<div class="container-fluid">
    <h1>DASHBOARD</h1>
    <br/>
    <MainCard @ref="thermostatCard"
              Header="THERMOSTAT"
              IconSource="assets/thermostat.png"
              UpMethod="ThermostatUpClicked"
              DownMethod="ThermostatDownClicked"
              NavToDetails="@(() => NavigateTo("/thermostatdata"))"
              DeviceTemp="@_thermostatModel?.DampedOutdoorTemperature.ToString("G")"
              IconWidth="50"/>
    <br/>
    <MainCard @ref="boilerCard"
              Header="BOILER"
              IconSource="assets/boiler.png"
              IconWidth="60"
              UpMethod="BoilerUpClicked"
              DownMethod="BoilerDownClicked"
              DeviceTemp="@_boilerModel?.DhwSelectedTemperature.ToString("G")"
              NavToDetails="@(() =>NavigateTo("/boilerdata"))"/>

    <br/>
    <h1>MIXERS</h1>
</div>
<br/>
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            @* TODO: Nav *@
            <SwipeCard Header="HC1" NavToDetails="@(() => NavigateTo("/mixerdata/hc1"))"/>
        </div>
        <div class="swiper-slide">
            <SwipeCard Header="HC2" NavToDetails="@(() =>NavigateTo("/mixerdata/hc2"))"/>
        </div>
        <div class="swiper-slide">
            <SwipeCard Header="HC3" NavToDetails="@(() =>NavigateTo("/mixerdata/hc3"))"/>
        </div>
    </div>
</div>
<SfToast @ref="Toast" Title="Error" ShowCloseButton="true">
    <ToastPosition X="Center" Y="Bottom"/>
</SfToast>

<style>
    .e-toast-container .e-toast {
        background-color: #11E3C7;
    }
</style>

@code {
    
    MainCard? thermostatCard;
    MainCard? boilerCard;
    BoilerModel? _boilerModel;
    ThermostatModel? _thermostatModel;
    MixerModel? _hc1;
    MixerModel? _hc2;
    MixerModel? _hc3;
    bool ischecked = false;
    SfToast Toast { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _boilerModel = await Http.GetFromJsonAsync<BoilerModel>(UrlConstants.apiUrl + "boiler");
            _thermostatModel = await Http.GetFromJsonAsync<ThermostatModel>(UrlConstants.apiUrl + "thermostat");
        }
        catch (Exception e)
        {
            Toast.Content = "Cannot get data from Server";
            await Toast.ShowAsync();
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("initSwiper", null);
    }

    void ThermostatUpClicked()
    {
    //TODO: THERMOSTAT UP
        var oldTemp = _thermostatModel?.DampedOutdoorTemperature + 0.5;
        if (_thermostatModel != null)_thermostatModel.DampedOutdoorTemperature += 0.5;
        if (thermostatCard != null) thermostatCard.DeviceTemp = oldTemp?.ToString("F1");
    }

    void ThermostatDownClicked()
    {
    //TODO: THERMOSTAT DOWN
        var oldTemp = _thermostatModel?.DampedOutdoorTemperature - 0.5;
        if (_thermostatModel != null) _thermostatModel.DampedOutdoorTemperature -= 0.5;
        if (thermostatCard != null) thermostatCard.DeviceTemp = oldTemp?.ToString("F1");
    }

    void BoilerUpClicked()
    {
        if (_boilerModel != null)
        {
            _boilerModel.DhwSelectedTemperature += 1;
            Http.PostAsync($"{UrlConstants.apiUrl}boiler/{_boilerModel.DhwSelectedTemperature.ToString()}", null);
            if (boilerCard != null) boilerCard.DeviceTemp = _boilerModel.DhwSelectedTemperature.ToString("G");
        }
    }

    void BoilerDownClicked()
    {
        if (_boilerModel != null)
        {
            _boilerModel.DhwSelectedTemperature -= 1;
            Http.PostAsync($"{UrlConstants.apiUrl}boiler/{_boilerModel.DhwSelectedTemperature.ToString()}", null);
            if (boilerCard != null) boilerCard.DeviceTemp = _boilerModel.DhwSelectedTemperature.ToString("G");
        }
    }
    void NavigateTo(string route)
    {
        NavMan.NavigateTo(route);
    }
}